
<app-buscador (searchChanged)="onSearchChanged($event)"></app-buscador>
<br>
<div class="carousel-container">
  <div class="carousel">
    <ng-container *ngFor="let image of products2; let i = index">
      <div class="slide" [class.active]="i === currentIndex">
        <img [src]="image.images" [alt]="image.title">
      </div>
    </ng-container>
  </div>
</div>
<hr>
<div class="card-container">
  <div class="card" *ngFor="let product of paginatedProducts">
    <img [src]="product.images" alt="Imagen 1" class="card-image">
    <div class="card-content">
      <h3 class="card-title">{{product.title}}</h3>
      <p class="card-desc">{{product.description}}</p>
      <p class="card-price">{{product.price | currency}}</p>
    </div>
    <button class="add-to-cart-btn" (click)="actualizarCount(product)">
      <i class="icon-shopping-cart"></i>Agregar al carrito
    </button>
    <button class="see-detail-btn" (click)="openModal(product)">
      <i class="icon-eye-open"></i> Detalle
    </button>
  </div>
</div>
<p *ngIf="paginatedProducts.length === 0">No se encontraron resultados.</p>
<div class="pagination" *ngIf="paginatedProducts.length !== 0">
  <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 1">Atrás</button>
  <span>Página {{currentPage}} de {{totalPages}}</span>
  <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
<app-product-detail *ngIf="isModalOpen" [selectedElement]="selectedElement" (closeModal2)="closeModal()"></app-product-detail>